<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="88.2.9" targetFramework="net452" />
  <package id="cef.redist.x86" version="88.2.9" targetFramework="net452" />
  <package id="CefSharp.Common" version="88.2.90" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="88.2.90" targetFramework="net452" />
  <package id="Google.Api.Gax" version="2.2.1" targetFramework="net452" />
  <package id="Google.Api.Gax.Rest" version="2.2.1" targetFramework="net452" />
  <package id="Google.Apis" version="1.51.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.51.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.51.0" targetFramework="net452" />
  <package id="Google.Apis.Drive.v3" version="1.51.0.2265" targetFramework="net452" />
  <package id="Google.Apis.Storage.v1" version="1.32.0.1035" targetFramework="net452" />
  <package id="Google.Cloud.Storage.V1" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net452" />
  <package id="MimeMapping" version="1.0.1.37" targetFramework="net452" requireReinstallation="true" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Syncfusion.Compression.Base" version="18.4.0.35" targetFramework="net452" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="18.4.0.35" targetFramework="net452" requireReinstallation="true" />
  <package id="Syncfusion.Pdf.WinForms" version="18.4.0.35" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Collections" version="4.3.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.IO" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Linq" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Threading" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net452" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net452" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net452" />
  <package id="Tulpep.NotificationWindow" version="1.1.37" targetFramework="net452" />
  <package id="ZXing.Net" version="0.16.6" targetFramework="net452" requireReinstallation="true" />
</packages>